/* ================ bootstrap styling for the card and buttons============== */
.bootstrap-iso .formden_header h2,
.bootstrap-iso .formden_header p,
.bootstrap-iso form {
  font-family: Arial, Helvetica, sans-serif;
  color: #6085bd;
}

.bootstrap-iso form button,
.bootstrap-iso form button:hover {
  color: white !important;
}

.asteriskField {
  color: rgb(127, 192, 154);
}

.card-title {
  display: inline-block;

}

.page-hero h3 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: -1px -1px 1px #460000, 2px 2px 1px #ff4965;
  text-transform: uppercase;
  color: #74a589;
}

.page-hero p {
  color: #f1acb7
}

.card {
  border-radius: 15px;
  overflow: hidden
}

.card-header {
  background: #666;
  color: white;
}

.card-header .prevMonth {
  cursor: pointer;
}

.card-header .nextMonth {
  cursor: pointer;
}

.card-body {
  background: #aacdce
}

.card-body .days span {
  background: #be8c94;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 45px;
  width: 45px;
  line-height: 45px;
  cursor: pointer
}

.card-body .days span:hover {
  background: #b9ece6;
}

.card-body .dates span {
  background: #8de2de;
  color: #000;
  border-radius: 50%;
  display: inline-block;
  height: 45px;
  width: 45px;
  line-height: 45px;
  cursor: pointer
}

.card-body .dates span.active,
.card-body .dates span:hover {
  background: #ffeef0;
  color: #000
}

.card-body .dates span.ntMonth {
  color: #938e8e;
  background: #ffd8de
}

.card-body .dates span.ntMonth:hover {
  background: #ffeef0;
  color: #000
}

.card#event .card-header .close {
  color: #fff;
  opacity: 1
}

.card#event .card-body .events-today {
  height: 210px;
  overflow-x: hidden
}

.card#event .card-body .events-input .data-invalid {
  border-color: red
}

.card#event .card-body .events-input .error {
  font-size: 12px;
  color: red;
  position: absolute;
  top: 100%
}

@media(max-width: 767px) {
  .pa-sm {
    position: absolute
  }

  .card-body .days span {
    height: 38px;
    width: 38px;
    line-height: 38px;
    font-size: .8rem
  }

  .card-body .dates span {
    height: 38px;
    width: 38px;
    line-height: 38px;
    font-size: .8rem
  }

  .card#event .card-body .events-today {
    height: 188px
  }
}

#entries {
  padding: 10px;
}

